<footer>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <div class="row">
                <div class="col-10 col-md-5 offset-1" style="color: white">
                    <h4> &copy; 2021 - LanchesMac</h4>
                    <p class="text-justify">
                        Aqui você
                    </p>
                </div>
            </div>
        </div>
    </nav>
</footer>